
#Toolbar {
  position: absolute;
  top: 58px;
  left: calc(100% - 620px);
  z-index: 9;
  border: 1px solid #5d5d5d;
}

#Toolbar .toolbar-header {
  width: 200px;
  height: 40px;
  cursor: move;
  color: rgb(255, 255, 255);
  font-family: "UltimateTeamCondensed", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  background: #333333;
  /*  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);*/
  border-bottom-color: white;
}
#Toolbar .circle {
    width: 15px;
    height: 15px;
    background-color: #62bd19;
    border-radius: 50%;
    position: absolute;
    top: 23px;
    left: 23px;
}




#Toolbar .toolbar-header .toolbar-logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  border-bottom-color: white;
}

#Toolbar .toolbar-header .toolbar-logo img {
  margin-left: 8px;
  margin-right: 8px;
  height: 28px;
}
#Toolbar .toolbar-header .toolbar-actions {
  display: flex;
  align-items: center;
}

#Toolbar .toolbar-header .toolbar-actions .expand-button {
  color: inherit;
  cursor: pointer;
  font-family: "UltimateTeam-Icons", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  box-sizing: border-box;
  display: inline-block;
  height: 40px;
  width: 40px;
  position: relative;
  vertical-align: top;
  font-size: 20px;
  z-index: 1;
}

#Toolbar .toolbar-header .toolbar-actions .toolbar-badge {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: inline-block;
  box-sizing: border-box;
}

#Toolbar .toolbar-header .toolbar-actions .toolbar-badge.success {
  background: #76ff03;
  animation: anim-glow-success 2s ease-in-out infinite;
}

#Toolbar .toolbar-header .toolbar-actions .toolbar-badge.warning {
  background: #ffff00;
  animation: anim-glow-warning 2s ease-in-out infinite;
}
#Toolbar .toolbar-header .toolbar-actions .expand-button::before {
  transition: 0.3s ease all;
  display: block;
  margin-left: 15px;
  content: "X";
}

#Toolbar .toolbar-header .toolbar-actions .expand-button.active::before {
  transform: rotate(180deg);
}

#Toolbar .toolbar-content {
  background: #333333;
  width: 200px;

  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
  text-align: left !important;
  font-family: Mark Simonson - Proxima Nova Alt Bold-webfont;
  margin-top: 5px;
  font-weight: bolder;
}

#Toolbar .toolbar-content-header {
  padding-left: 5px;
  text-align: left;
}

#Toolbar .toolbar-content-footer {
  text-align: right !important;
  margin:auto;
  font-size: smaller;

}


@-webkit-keyframes anim-glow-success {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 10px #76ff03;
  }
  99% {
    box-shadow: none;
  }
}

@-webkit-keyframes anim-glow-warning {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 10px #ffff00;
  }
  99% {
    box-shadow: none;
  }
}
